@import url(https://fonts.googleapis.com/css?family=Roboto);

@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';

/*================CONTAINER-LEFT================*/

body {
  background-color: #EAE8E7;
  font-family: Roboto, sans-serif;
}

.container-left {
  width: 350px;
  height: 1380px;
  background-color: #5DA4D9;
  float:left;
  position:relative;
  left:100px;
  box-shadow:10px 10px 5px #888888;
}

#name {
  position: relative;
  top: 280px;
  display: block;
  background: rgba(255,255,255,0.5);
  padding: 0px 5px 0px 0px;
  font-size: 35px;
  text-align: right;
  z-index: 2;
  font-weight:bold;
}

.summary {
  position:relative;
  bottom:50px;
}

#me {
  position: relative;
  top: -84px;
  width: 350px;
  height:364px;
}

#user, #phone, #envelope, #home, #skills{
  margin:0px 0px 0px 160px;
  color:white;
  font-size:30px;
}

#phone {
  margin-top: 10px;
}

#summary, #skillslist {
 color:#D4E7F5;
 text-align:center;
 padding-right:25px;
 padding-left:25px;
}

#mobile, #work, #personal, #work, #address {
  display:block;
  color:#D4E7F5;
  text-align:center;
  margin:0px 0px 0px 0px;
  font-size:20px;
}

#mobileid, #workid, #personalid, #workid, #addressid, #skillsid {
  display:block;
  text-align:center;
  margin:20px 0px 10px 0px;
  color:#BAD8EF;
  font-size:20px;
  text-decoration:underline;
}

.skillslist{
  text-align:left;
}

.phone {
  margin-bottom:10px;
}

.email, .home, .skills {
  margin-top:10px;
  margin-bottom:10px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  padding-top:5px;
}

#up {
  position:relative;
  bottom:32px;
}

/*================CONTAINER-LEFT END================*/
/*================CONTAINER-TOP-RIGHT===============*/
.container-top-right, .container-bottom-right {
  width:700px;
  height:550px;
  background-color:#FFFFFF;
  position:relative;
  left:500px;
  box-shadow:10px 10px 5px #888888;
}

#brief, #ed, #int {
  color:#767270;
  font-size:50px;
  position:relative;
  right:300px;
  top:40px;
}

#workexp, #education, .interest {
  color:#767270;
  position:relative;
  right:150px;
  bottom:20px;
  font-size:35px;
  letter-spacing:3px;
  text-decoration:underline;
}

#UIUX, #CD, #artmedia, #dev {
  color:#767270;
  position:relative;
  right:150px;
  top:20px
}

#date1, #date2  {
  color:#69AADB;
  position:relative;
  right:100px;
  top:10px;
  font-size:15px;
}

#sum1, #sum2 {
  color:#767270;
  position:relative;
  right:200px;
  top:0px;
  font-weight:normal;
  text-align:center;
}

.UIUX {
  position:relative;
  bottom:15px;
  left:45px;
}

.CD {
  position:relative;
  left:44px;
  bottom:15px;
}

/*================CONTAINER-TOP-RIGHT END===============*/
/*================CONTARINER-BOTTOM-RIGHT===============*/

#movecbr {
  position:relative;
  top:40px;
  height:550px;
}

#education {
  text-align:center;
}

#artmedia {
  text-align:center;
}

#date3 {
  color:#69AADB;
  position:relative;
  right:50px;
  top:10px;
  font-size:15px;
}

#sum3 {
  color:#767270;
  position:relative;
  right:150px;
  top:0px;
  font-weight:normal;
  text-align:center;
}

.artmedia {
  position:relative;
  bottom:20px;
}

#dev {
  text-align:center;
}

#sum4 {
  color:#767270;
  position:relative;
  right:150px;
  top:0px;
  font-weight:normal;
  text-align:center;
  font-size:19px;
}

#date4 {
  color:#69AADB;
  position:relative;
  right:50px;
  top:10px;
  font-size:15px;
  font-weight:bold;
}

.dev {
  position:relative;
  bottom:25px;
}

/*================CONTARINER-BOTTOM-RIGHT END===============*/
/*================INTEREST CONTAINER========================*/

.container-interest {
  width:700px;
  height:200px;
  background-color:#FFFFFF;
  position:relative;
  box-shadow:10px 10px 5px #888888;
  top:40px;
}

#intm {
  position:relative;
  text-align:center;
}

#bike, #code, #photo, #read {
  color:#767270;
  font-size:40px;
}

#bike {
  position:relative;
  right:200px;
}

#code {
  position:relative;
  right:150px;
}

#photo {
  position:relative;
  right:100px;
}

#read {
  position:relative;
  right:50px;
}

.icons {
  text-align:center;
}



